<%= render './navbar', page: "dashboard" %>

<div class=" container ">

  <div class=" row ">
    <div class=" col ">
      <h1>Dashboard</h1>
      <hr></hr>
    </div>
  </div>

  <div class=" row ">
    <div class=" col ">
      <% if notice %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>Ohhh Shit! </strong> <%= notice %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
    </div>
  </div>

  <div class=" row ">
    <div class=" col ">
      <div class=" row ">
        <div class=" col ">
          <h2>Summary</h2>
        </div>
      </div>
      <% clbl = " col-6 col-md-3 " %>
      <% ctxt = " col-6 col-md-2 text-right " %>
      <div class=" row ">
        <div class="<%= clbl %>">
          <strong>Amount Invested: </strong>
        </div>
        <div id="amount_invested" class="<%= ctxt %>">????</div>
      </div>
      <div class=" row ">
        <div class="<%= clbl %>">
          <strong>Current Total: </strong>
        </div>
        <div id="current_total" class="<%= ctxt %>">????</div>
      </div>
      <div class=" row ">
        <div class="<%= clbl %>">
          <strong>Profit: </strong>
        </div>
        <div id="profit" class="<%= ctxt %>">????</div>
      </div>
    </div>
  </div>

  <div class=" row mt-3 ">
    <div class=" col ">
      <h2>Current Investments</h2>
    </div>
  </div>

  <div class=" row ">
    <div class=" col ">
      <table class=" table table-hover ">
        <thead>
          <tr class=" text-center ">
            <th>Coin</th>
            <th>Ticker</th>
            <th>Assets</th>
            <th>Balance</th>
          </tr>
        </thead>
        <tbody id="invested_coins_table">
          <tr>
            <td>Loading..</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div id="chartContainerBody" class=" row " hidden>
    <div class=" col ">

      <div class=" row ">
        <div class=" col ">
          <div id="chartContainer" data-frame="1h" data-baseAsset="BTC" data-scale="1" style=" height: 300px; width: 100%; "></div>
        </div>
      </div>

      <div class=" row " id="chartContainerOptions">
        <div class=" col ">
          <table class=" table text-center ">
            <tr>
              <th>Frame</th>
              <td>
                <div class=" row ">
                  <div class=" col ">
                    <a href="javascript:void(App.SetCandleFrame('1h'))">1h</a>
                  </div>
                  <div class=" col ">
                    <a href="javascript:void(App.SetCandleFrame('1d'))">1d</a>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <th>Scale</th>
              <td>
                <div class=" row ">
                  <div class=" col ">
                    <a href="javascript:void(App.SetCandleScale('0.25'))">25%</a>
                  </div>
                  <div class=" col ">
                    <a href="javascript:void(App.SetCandleScale('0.5'))">50%</a>
                  </div>
                  <div class=" col ">
                    <a href="javascript:void(App.SetCandleScale('1'))">100%</a>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>

    </div>
  </div>

</div>

<script>
  App.LoadDashboard()
</script>
