<p>
  <strong>Debug: </strong>
  |<%= @debug %>|
</p>

<h1>Dasboard</h1>

<table>
  <tr>
    <td>
      <%= link_to 'Api\'s', apis_path %> |
      <%= link_to 'Investments', transactions_path %>
    </td>
  </tr>
</table>

<table>
  <tr>
    <td>
      <table>
        <tr>
          <td><strong>Amount Invested: </strong></td>
          <td><%= "$#{'%.2f' % @investment}" %></td>
        </tr>
        <tr>
          <td><strong>Profit: </strong></td>
          <td>
            <% profit = @assets["total"]-@investment %>
            <% if profit >= 0 %>
              <%= "$#{'%.2f' % profit}" %>
            <% else %>
              <%= "-$#{'%.2f' % (profit*-1)}" %>
            <% end %>
          </td>
        </tr>
        <tr></tr>
      </table>
    </td>
  </tr>

  <tr>
    <td>
      <table>
        <tr>
          <th>Coin</th>
          <th>Ticker</th>
          <th>Assets</th>
          <th>Balance</th>
        </tr>

        <% @symbols.each do |key, symbol| %>
          <% asset = @assets[symbol["baseAsset"]] %>
          <% if asset["usd"].to_f > 5.0  %>
            <tr>
              <td><%= symbol["baseAsset"] %></td>
              <td><%= "#{'%.8f' % symbol["price"]}" %></td>
              <td><%= "#{'%.8f' % asset["amount"]}" %></td>
              <td><%= "$#{'%.2f' % asset["usd"]}" %></td>
            </tr>
          <% end %>
        <% end %>

        <tr>
          <td></td>
          <td></td>
          <td><strong>Total:</strong></td>
          <td><%= "$#{'%.2f' % @assets["total"]}" %></td>
        </tr>

      </table>
    </td>
  </tr>

</table>
