<%= render './navbar', page: "dashboard" %>

<div class=" container ">

  <div class=" row ">
    <div class=" col ">
      <h1>Dashboard</h1>
      <hr></hr>
    </div>
  </div>

  <div class=" row ">
    <div class=" col ">
      <% if notice %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>Ohhh Shit! </strong> <%= notice %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
    </div>
  </div>

  <div class=" row ">
    <div class=" col ">
      <div class=" row ">
        <div class=" col ">
          <h2>Summary</h2>
        </div>
      </div>
      <div class=" row ">
        <div class=" col-6 col-md-3 ">
          <strong>Amount Invested: </strong>
        </div>
        <div class=" col-6 col-md-2 text-right ">
          <%= "$#{'%.2f' % @investment}" %>
        </div>
      </div>
      <div class=" row ">
        <div class=" col-6 col-md-3 ">
          <strong>Current Total: </strong>
        </div>
        <div class=" col-6 col-md-2 text-right ">
          <%= "$#{'%.2f' % @assets["total"]}" %>
        </div>
      </div>
      <div class=" row ">
        <div class=" col-6 col-md-3 ">
          <strong>Profit: </strong>
        </div>
        <div class=" col-6 col-md-2 text-right ">
          <% profit = @assets["total"]-@investment %>
          <% if profit >= 0 %>
            <%= "$#{'%.2f' % profit}" %>
          <% else %>
            <%= "-$#{'%.2f' % (profit*-1)}" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class=" row mt-3 ">
    <div class=" col ">
      <h2>Current Investments</h2>
    </div>
  </div>

  <div class=" row ">
    <div class=" col ">
      <table class=" table table-hover ">
        <thead>
          <tr>
            <th class=" text-center ">Coin</th>
            <th class=" text-center ">Ticker</th>
            <th class=" text-center ">Assets</th>
            <th class=" text-center ">Balance</th>
          </tr>
        </thead>
        <tbody>
          <% @symbols.each do |key, symbol| %>
            <% asset = @assets[symbol["baseAsset"]] %>
            <% if asset["usd"].to_f > 5.0  %>
              <tr onclick="App.CandleChart('<%= symbol["baseAsset"] %>')">
                <td class=" text-center "><%= symbol["baseAsset"] %></td>
                <td class=" text-right "><%= "#{'%.8f' % symbol["price"]}" %></td>
                <td class=" text-right "><%= "#{'%.8f' % asset["amount"]}" %></td>
                <td class=" text-right "><%= "$#{'%.2f' % asset["usd"]}" %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div id="chartContainerBody" class=" row " hidden>
    <div class=" col ">

      <div class=" row ">
        <div class=" col ">
          <div id="chartContainer" data-frame="1h"  data-baseAsset="BTC" data-scale="1" style=" height: 300px; width: 100%; "></div>
        </div>
      </div>

      <div class=" row " id="chartContainerOptions">
        <div class=" col ">
          <table class=" table text-center ">
            <tr>
              <th>Frame</th>
              <td>
                <div class=" row ">
                  <div class=" col ">
                    <a href="javascript:void(App.SetCandleFrame('1h'))">1h</a>
                  </div>
                  <div class=" col ">
                    <a href="javascript:void(App.SetCandleFrame('1d'))">1d</a>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <th>Scale</th>
              <td>
                <div class=" row ">
                  <div class=" col ">
                    <a href="javascript:void(App.SetCandleScale('0.25'))">25%</a>
                  </div>
                  <div class=" col ">
                    <a href="javascript:void(App.SetCandleScale('0.5'))">50%</a>
                  </div>
                  <div class=" col ">
                    <a href="javascript:void(App.SetCandleScale('1'))">100%</a>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>

    </div>
  </div>

</div>
