<h1>Listing API's</h1>

<table>
  <tr>
    <td>
      <%= link_to 'Dashboard', root_path %> |
      <%= link_to 'Investments', transactions_path %> |
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, data: { confirm: "Are you sure you want to sign out?" }  %>
    </td>
  </tr>
</table>

<table>
  <tr>
    <th>Name</th>
    <th>Api Key</th>
    <th>Secret Key</th>
  </tr>

  <% @apis.each do |api| %>
    <tr>
      <td><%= api.name %></td>
      <td><%= api.api_key.truncate(20) %></td>
      <td>****</td>
      <td><%= link_to 'Show', api_path(api) %></td>
      <td><%= link_to 'Edit', edit_api_path(api) %></td>
      <td><%= link_to 'Delete', api_path(api),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  <tr>
    <td><%= link_to 'New API', new_api_path %></td>
  </tr>
</table>
