<%= render './navbar', page: "apis" %>

<div class=" container ">

  <div class=" row ">
    <div class=" col ">
      <h1>API's</h1>
    </div>
  </div>

  <div class=" row ">
    <div class=" col d-sm-none ">
      <table class=" table text-center ">
        <tr>
          <th>Name</th>
          <th width="40%"></th>
        </tr>

        <% @apis.each do |api| %>
          <tr>
            <td><%= api.name %></td>
            <td>
              <%= link_to 'Show', api_path(api) %>, 
              <%= link_to 'Edit', edit_api_path(api) %>, 
              <%= link_to 'Delete', api_path(api),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
        <tr>
          <td></td>
          <td><%= link_to '+ New API', new_api_path, :class => "btn btn-primary" %></td>
        </tr>
      </table>
    </div>

    <div class=" col d-none d-sm-block ">
      <table class=" table text-center ">
        <tr>
          <th>Name</th>
          <th>Api Key</th>
          <th>Secret Key</th>
          <th width=35%"></th>
        </tr>

        <% @apis.each do |api| %>
          <tr>
            <td><%= api.name %></td>
            <td><%= api.api_key.truncate(20) %></td>
            <td>****</td>
            <td>
              <%= link_to 'Show', api_path(api) %>, 
              <%= link_to 'Edit', edit_api_path(api) %>, 
              <%= link_to 'Delete', api_path(api),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td><%= link_to '+ New API', new_api_path, :class => "btn btn-primary" %></td>
        </tr>
      </table>
    </div>

  </div>
</div>

