<h1>Listing API's</h1>
<%= link_to 'New API', new_api_path %>
<table>
  <tr>
    <th>Name</th>
    <th>Api Type</th>
    <th>Api Key</th>
    <th>Secret Key</th>
  </tr>

  <% @apis.each do |api| %>
    <tr>
      <td><%= api.name %></td>
      <td><%= api.api_type %></td>
      <td><%= api.api_key %></td>
      <td>****</td>
      <td><%= link_to 'Show', api_path(api) %></td>
      <td><%= link_to 'Edit', edit_api_path(api) %></td>
      <td><%= link_to 'Delete', api_path(api),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
