<%= render './navbar', page: "apis" %>

<div class=" container ">

  <div class=" row ">
    <div class=" col ">
      <h1>Show API</h1>
    </div>
  </div>

  <div class=" row ">
    <div class=" col ">
      <table class=" table ">
        <tr>
          <th>Name</th>
          <td><%= @api.name %></td>
        </tr>
        <tr>
          <th>Api Type</th>
          <td><%= @api.api_type %></td>
        </tr>
        <tr>
          <th>Api Key</th>
          <td><%= @api.api_key %></td>
        </tr>
        <tr>
          <th>Secret Key</th>
          <td>****</td>
        </tr>
        <tr>
          <td>
            <%= link_to 'Back', apis_path, :class => "btn btn-primary" %>
          </td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>

</div>

